<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
	<%= f.select :user_id, options_from_collection_for_select(@users, "id", "email"), {}, class: "form-control", :prompt => "Select user by email" %>
  </div>
  <div class="field">
    <%= f.label :comic_id %><br>
    <%= f.select :comic_id, options_from_collection_for_select(@comics, "id", "title"), {}, class: "form-control", :prompt => "Select comic by title" %>
  </div>
  <div class="form-group">
    <%= f.label :role %><br>
    <%= f.select :role, options_for_select([["Owner", 1], ["Uploader", 2]]), {}, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
