<%= form_for(@comic) do |f| %>
  <% if @comic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
      <% @comic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
  	<%= f.label :cover %><br>
  	<%= f.file_field :cover, class: "form-control" %>
  </div>
  <div class="form-group">
  	<%= f.label :logo %><br>
  	<%= f.file_field :logo, class: "form-control" %>
  </div>
  <div class="form-group">
  	<%= f.label :banner %><br>
  	<%= f.file_field :banner, class: "form-control" %>
  </div>
  <div class="form-group">
  	<%= f.label :navbar %><br>
  	<%= f.check_box :navbar, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
