<% if current_user.try(:admin?) %>

<h1>Listing comics</h1>

<table class="table table-bordered table-striped" id="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Chapters</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comics.each do |comic| %>
      <tr data-item-id=<%= "#{comic.id}" %> class="item">
        <td><%= comic.title %></td>
        <td><%= Chapter.all.select { |t| t.comic == comic }.count %></td>
        <td><%= comic.description %></td>
        <td><%= link_to 'Show', comic, :class => 'btn btn-default pull-right' %></td>
        <td><%= link_to 'Edit', edit_comic_path(comic) %></td>
        <td><%= link_to 'Destroy', comic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comic', new_comic_path %>

<% else %>

<div class="container-fluid">
  <div class="row">
	<% @comics.each do |comic| %>
	 
	  <div class="col-xs-6 col-md-4">
         <div class="panel panel-default">
	 	  <div class="panel-heading">
	 	    <h3 class="panel-title"><%= comic.title %></h3>
		  </div>
		  <div class="panel-body">
		    <%= comic.description %>
		  </div>
		 </div>
 	  </div>
 	
    <% end %>
    
  </div>
</div>
<% end %>