<% if user_signed_in? %>




<% if current_user.admin? %>

<div class="page-header text-center" style="">
  <h1>Welcome, Admin! <br><small>You can see all the comics.</small></h1>
</div>

<table class="table table-hover table-striped" id="sortable">
<% else %>

<div class="page-header text-center" style="">
  <h1>Welcome! <br><small>You can see the comics that you are assigned to.</small></h1>
</div>

<table class="table table-hover table-striped">
<% end %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Chapters</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comics.each do |comic| %>

	   <% @assignments = Assignment.all.select { |t| t.comic_id == comic.id } %>
	   <% @assignments = @assignments.select { |t| t.user_id == current_user.id } %>
	   <% if current_user.try(:admin?) || @assignments.any? %>
	     <% @assignment = @assignments.first %>
		 <% if current_user.try(:admin?) || @assignment.role == 1 %>
		<% puts "=-=-=-=-=-=-="%>
		<% puts current_user.id %>
		<% puts "=-=-=-=-=-=-="%>



      <tr data-item-id=<%= "#{comic.id}" %> class="item">
        <td><%= comic.title %></td>
        <td><%= Chapter.all.select { |t| t.comic == comic }.count %></td>
        <td><%= comic.description %></td>
        <td><%= link_to 'Show', comic, :class => 'btn btn-default pull-right' %></td>
        <td><%= link_to 'Edit', edit_comic_path(comic), :class => 'btn btn-default pull-right' %></td>
        <td><%= link_to 'Destroy', comic, :class => 'btn btn-danger pull-right', method: :delete, data: { confirm: "Are you sure? This may very well be a really, really bad idea. You might've had too much to drink. Please take a moment to reconsider. Or take another swig of your Wild Turkey 101, what do I care? You know what, go ahead and delete your comic. You don't have the gall to do it, anyway." } %></td>
	      </tr>
		 <% else %>
		
		<tr data-item-id=<%= "#{comic.id}" %> class="item">
        <td><%= comic.title %></td>
        <td><%= Chapter.all.select { |t| t.comic == comic }.count %></td>
        <td><%= comic.description %></td>
        <td><%= link_to 'Show', comic, :class => 'btn btn-default pull-right' %></td>
        <td></td>
        <td></td>
      </tr>
		<% end %>
		<% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comic', new_comic_path, :class => 'btn btn-primary' %>
<br>
<br>

<% else %>

<div class="page-header text-center" style="">
  <h1>Welcome! <br><small>You Like Webcomics? We've Got 'Em.</small></h1>
</div>

  <div class="row">
	<% @comics.each do |comic| %>
 
<% if @comics.count == 1 %>
		<div class="col-xs-12">
<% elsif @comics.count == 0 %>
 <div class="col-xs-12">
	Sorry bro, no comics.		
<% else %>
	<div class="clearfix col-xs-6">
<% end %>
			 
		  <div class="text-center center-block" style="margin-bottom:50px;">
			<a tabindex="0" class="no-outline" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="<%= comic.title %>" data-content="<%= comic.description %><br><%= link_to(comic.title, comic, :class => 'btn btn-primary btn-block', :style => 'margin-top:10px;').gsub("\"", "'") %>">
			<%= image_tag "#{comic.cover}", :class => "img-responsive embed-responsive-item img-thumbnail" %></a>
		  </div>
 	  </div>

    <% end %>
    
  </div>

<% end %>
