<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Chapters:</strong>
  <%= @comic.num_chapters %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comic.description %>
</p>

<%= link_to 'View Chapters', selected_chapters_path(comic: @comic) %> |
<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
