<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comic.name %>
</p>

<p>
  <strong>Chapters:</strong>
  <%= @comic.chapters %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comic.description %>
</p>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
