
<div class="page-header text-center">
  <h1><%= @chapter.comic.title %><br><small><%= @chapter.title %></small></h1>
</div>
<% @assignments = Assignment.all.select { |t| t.comic_id == @chapter.comic_id } %>
<% not_nil = -1 %>
<% if user_signed_in? %>
<% not_nil = current_user.id %>
<% end %>
<% if current_user.try(:admin?) || @assignments.select { |t| t.user_id == not_nil }.any? %>
<table class="table table-hover table-striped" id="sortable">
  <thead>
    <tr>
      <th>Image</th>
      <th>Thumb</th>
      <th>Description</th>
      <th>Pagenum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr data-item-id=<%= "#{page.id}" %> class="item">
        <td><%= page.thumb %></td>
        <td><%= page.row_order %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_page_path(chapter: @chapter) %>

<% else %>

<% page_entries_info @pages %>

<div class="infinite-table" style="text-align: center">
	<div class="boxie">
    <%= render :partial => 'pages', :object => @pages, :chapter => @chapter %>
	</div>

<!-- Maybs I can wrap dis with an if and only show it if there are more pages to load. That's a redundancy that should cover it incase the js gets stuck on the last page (but doesn't cover any other page stuck repeating...)-->
		<div class="pagination controls">
	    <%= link_to_next_page @pages, 'Next Page', :remote => true, params: params %>
		
	  </div>
		<% page_entries_info @pages %>
		<br>
		<!-- if more chapters, controls to go to next or previous... -->
		<%#= link_to 'Back to Chapters', selected_chapters_path(comic: @chapter.comic) %>
</div>





<% end %>