

<h1><%= @chapter.comic.title %> - <%= @chapter.title %></h1>
<% if user_signed_in? %>
<table class="table table-hover table-striped" id="sortable">
  <thead>
    <tr>
      <th>Image</th>
      <th>Thumb</th>
      <th>Description</th>
      <th>Pagenum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr data-item-id=<%= "#{page.id}" %> class="item">
        <td><%= page.thumb %></td>
        <td><%= page.row_order %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_page_path(chapter: @chapter) %>

<% else %>

<div class="infinite-table">
  <table>
    <tr>
      <th>Page</th>
      <th></th>
    </tr>
    <%= render :partial => 'pages', :object => @pages, :chapter => @chapter %>
  </table>
  <p class="pagination">
    <%= link_to_next_page @pages, 'Next Page', :remote => true, params: params %>
  </p>
</div>

<%= link_to 'Toc', selected_chapters_path(comic: @chapter.comic) %>


<% end %>