<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @page.image %>
  <%= image_tag "#{@page.image}" %>
</p>

<p>
  <strong>Thumb:</strong>
  <%= @page.thumb %>
<%= image_tag "#{@page.thumb}" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Pagenum:</strong>
  <%= @page.row_order %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', selected_pages_path(chapter: @chapter) %> |
