<p id="notice"><%= notice %></p>

<p>Yeah, this page is all jacked up. Deal with it.</p>

<p>
  <strong>Image:</strong>
  <%= @page.image %>
  <%= image_tag "#{@page.image}" %>
</p>

<p>
  <strong>Alt:</strong>
  <%= @page.alt_tag %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Pagenum:</strong>
  <%= @page.row_order %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', selected_pages_path(chapter: @chapter) %> |
