<%= form_for(@chapter) do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :comic_id %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
  	<%= f.label :cover %><br>
  	<%= f.file_field :cover, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <% if @chapter.new_record? %>
	    <%= f.submit 'Create Chapter', class: "btn btn-primary"  %>
	<% else %>
	  <%= f.submit 'Update Chapter', class: "btn btn-primary"  %>
	<% end %>
  </div>
<% end %>
