<% if current_user.try(:admin?) %>

<h1>Listing chapters</h1>

<table class="table table-bordered table-striped" id="sortable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Pagecount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
	  <tr data-item-id=<%= "#{chapter.id}" %> class="item">
        <td><%= chapter.title %></td>
        <td><%= chapter.description %></td>
        <td><%= chapter.num_pages %></td>
        <td><%= link_to 'Show', chapter %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_chapter_path(comic: @comic) %>

<% else %>

<div class="row">
	<% @chapters.each do |chapter| %>

	  <div class="col-xs-6 col-md-4">
			 <%= link_to(chapter) do %>
       <div class="panel panel-default">
	 	  <div class="panel-heading">
	 	    <h3 class="panel-title"><%= chapter.title %></h3>
		  </div>
		  <div class="panel-body">
		    <%= image_tag "#{chapter.cover}", :class => "img-responsive center-block embed-responsive-item" %>
		  </div>
		 </div>
		 	<% end %>
	  </div>

  <% end %>
  
</div>

<% end %>